@import '~styles/variables.scss';
@import '~styles/mixins.scss';

$pattern-size: 24px;

.tools-controls {
  .tools-group {
    display: flex;

    .tool {
      @include const-size(2 * $pattern-size + 2 * $spacing-xs);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: $spacing-xs;
      margin: $spacing-s $spacing-xs;

      &.active {
        font-weight: bold;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      .tool-image {
        width: $pattern-size;
        height: $pattern-size;
        background-size: contain;

        &.width-2 {
          width: 2 * $pattern-size;
        }

        &.height-2 {
          height: 2 * $pattern-size;
        }
      }
    }
  }
}
