@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.button {
  display: inline-block;
  padding: 0px $spacing-s;
  text-align: center;
  cursor: pointer;
  font-size: $font-size-l;

  :focus {
    outline: 0;
  }

  &.is-disabled {
    pointer-events: none;
    color: $color-inactive;
  }
}
