@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.about {
  text-align: center;

  .version {
    position: relative;
    top: -$spacing-xl;
    font-weight: bold;
    font-size: $font-size-xxs;
  }

  .description {
    padding-top: $spacing-xs;
  }

  ul {
    padding-top: $spacing-xl;
    font-size: $font-size-s;
    text-align: left;

    li {
      margin: $spacing-xs 0;

      &.danger {
        color: $orange-dark;
      }
    }
  }

  .cheers {
    padding-top: $spacing-xl;
    text-align: right;
  }

  .author {
    padding-top: $spacing-s;
    font-size: $font-size-xs;
    text-align: right;
  }

  .button-container {
    padding: $spacing-xl 0;
    max-width: 400px;
    margin: 0 auto;

    a {
      text-decoration: none;
    }

    .button {
      text-align: center;
    }
  }
}
