@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.about {
  padding: 0 $spacing-xxxl;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 100px;
  text-align: center;
  color: $color-primary;

  ul {
    font-size: $font-size-s;
    text-align: left;

    li {
      margin: $spacing-xs 0;

      &.danger {
        color: $orange-dark;
      }
    }
  }

  .cheers {
    padding-top: $spacing-l;
    text-align: right;
  }

  .author {
    padding-top: $spacing-s;
    font-size: $font-size-xs;
    text-align: right;
  }

  .button-container {
    padding-top: $spacing-l;
    padding-bottom: 100px;
    max-width: 400px;
    margin: 0 auto;

    a {
      text-decoration: none;
    }

    .button {
      text-align: center;
    }
  }
}
