@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.projects {
  .storage-usage {
    margin-bottom: $spacing-m;
  }

  .project {
    padding: $spacing-s $spacing-xl;
    border-radius: 0;
  }

  .no-projects {
    text-align: center;

    .buttons {
      padding-top: $spacing-l;

      .button {
        display: inline-block;
        margin-bottom: 0;
      }
    }
  }
}
