@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.projects {
  .no-projects {
    text-align: center;

    .buttons {
      padding-top: $spacing-l;

      .button {
        display: inline-block;
        margin-bottom: 0;
      }
    }
  }
}
