@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.undo-redo-controls {
  display: flex;
  align-items: center;

  .redo, .undo {
    margin: 0;
    display: inline-block;
    flex: 1 1 50%;
    text-align: center;
  }

  .redo {
    margin-left: $spacing-s;
  }

  .undo {
    margin-right: $spacing-s;
  }
}
