@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.undo-redo-controls {
  .controls, .keys {
    display: flex;
    align-items: center;

    .redo, .undo {
      margin: 0;
      display: inline-block;
      flex: 1 1 50%;
      text-align: center;
    }

    .redo {
      margin-left: $spacing-s;
    }

    .undo {
      margin-right: $spacing-s;
    }
  }

  .keys {
    position: relative;
    top: $spacing-xs;
    font-size: $font-size-xxs;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: $darken;
    cursor: default;
    user-select: none;

    .is-disabled {
      opacity: $opacity-disabled;
    }
  }
}
