@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.menu-container {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: $spacing-s $spacing-l;
    background-color: $color-primary-light;
    color: $fg-color;
    border-bottom: $spacing-xs solid $color-secondary;

    > div {
      margin: 0 $spacing-l;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .logo {
      position: relative;
      font-weight: 700;
      cursor: pointer;
      user-select: none;

      &:active {
        top: 1px;
        left: 1px;
      }
    }

    .controls {
      margin-left: auto;

      input[type="file"] {
        display: none;
      }

      > div {
        display: flex;

        a {
          margin: 0 $spacing-l;

          &:last-child {
            margin-right: 0;
          }
        }

        a > .button, label > .button, > .button {
          margin-top: 0;
          margin-bottom: 0;
          text-align: center;
        }

        > div {
          margin-left: $spacing-l;
        }
      }
    }
  }

  .content {
    margin-top: $spacing-l;
  }
}