@import '~styles/variables.scss';
@import '~styles/mixins.scss';

$tools-width: 282px;

.edit-crochet {
  position: relative;
  user-select: none;

  .tools-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: $spacing-m $spacing-l;
  }

  .crochet-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: $tools-width + $spacing-l;
    right: 0;
    overflow: auto;
  }
}

@media print {
  .tools-container {
    display: none;
  }
}
