@import '~styles/variables.scss';
@import '~styles/mixins.scss';

$tools-width: 282px;

.edit-crochet {
  position: relative;
  user-select: none;

  .tools-container {
    position: fixed;
    top: 67px;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: $color-secondary-light;
    padding: $spacing-l;
    overflow: auto;
  }

  .crochet-container {
    position: absolute;
    left: $tools-width + 2 * $spacing-l;
  }
}

@media print {
  .tools-container {
    display: none;
  }
}
