@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.crochet {
  display: table;

  .row {
    display: table-row;
    user-select: none;

    .cell {
      @include sizes($min-crochet-size, $max-crochet-size);

      position: relative;
      display: table-cell;
      background: white;
      border-right: $border-solid;
      border-bottom: $border-solid;
      cursor: default;

      &:first-child {
        border-left: $border-solid;
      }

      &:hover {
        background-color: $color-secondary;
      }

      .pattern {
        @include sizes($min-crochet-size, $max-crochet-size);
        z-index: 1;
        position: absolute;
        top: 0;
        left: -1px;
        background-size: contain;
      }
    }

    &:first-child {
      .cell {
        border-top: $border-solid;

        .pattern {
          top: -1px;
        }
      }
    }
  }
}

@media print {
  .crochet {
    border: 1px solid black;
  }

  .cell {
    border: 0 !important;
  }
}
