@import '~styles/variables.scss';

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin const-width($width) {
  width: $width;
  min-width: $width;
  max-width: $width;
}

@mixin const-height($height) {
  height: $height;
  min-height: $height;
  max-height: $height;
}

@mixin const-size($size) {
  @include const-height($size);
  @include const-width($size);
}

@mixin sizes($min-size, $max-size) {
  @for $size from $min-size through $max-size {
    &.size-#{$size} {
      @include const-size($size * 1px);

      &.width-2 {
        @include const-width(2 * $size * 1px);
      }

      &.height-2 {
        @include const-width(2 * $size * 1px);
      }
    }
  }
}
