@import '~styles/variables.scss';

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin const-width($width) {
  width: $width;
  min-width: $width;
  max-width: $width;
}

@mixin const-height($height) {
  height: $height;
  min-height: $height;
  max-height: $height;
}
