@import '~styles/colors.scss';

$font-size-xl:              44px;
$font-size-l:               36px;
$font-size-m:               26px;
$font-size-s:               18px;
$font-size-xs:              16px;

$spacing-xxs:               2px;
$spacing-xs:                5px;
$spacing-s:                 10px;
$spacing-m:                 15px;
$spacing-l:                 20px;
$spacing-xl:                30px;
$spacing-xxl:               40px;
$spacing-xxxl:              60px;

$color-primary:             #193441;
$color-primary-light:       #3E606F;
$color-secondary:           #91AA9D;
$color-secondary-light:     #D1DBBD;
$color-inactive:            gray;
$color-border:              #bbccd2;

$fg-color:                  #FCFFF5;
$fg-gray:                   gray;
$bg-color:                  $color-primary-light;

$border-solid:              1px solid $color-border;
$border-dotted:             1px dotted $color-border;
$border-transparent:        1px solid transparent;

$crochet-size:              12px;
