@import '~styles/colors.scss';

$font-size-xl:              44px;
$font-size-l:               36px;
$font-size-m:               26px;
$font-size-s:               18px;
$font-size-xs:              16px;

$spacing-xxs:               2px;
$spacing-xs:                5px;
$spacing-s:                 10px;
$spacing-m:                 15px;
$spacing-l:                 20px;
$spacing-xl:                30px;
$spacing-xxl:               40px;
$spacing-xxxl:              60px;

$color-primary:             #ff3356;
$color-primary-light:       #ffc7d1;
$color-secondary:           #00a4e2;
$color-secondary-light:     #b5ebff;
$color-inactive:            #bbccd2;

$fg-color:                  $color-primary;
$fg-gray:                   gray;
$bg-color:                  $color-primary-light;

$border-solid:              1px solid $color-inactive;
$border-dotted:             1px dotted $color-inactive;
$border-transparent:        1px solid transparent;
